server {
    listen 80;
    listen [::]:80;
    server_name {{ domain }}.ecbee.net;
    
    root /var/www/{{ domain }}.ecbee.net/public_html;
    index index.html index.htm;
    
    location / {
        try_files $uri $uri/ /index.html;
    }
}